@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.active {
    background-color: #10045c;
}

.app {
    font-family: 'Roboto', sans-serif;
}

footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    color: white;
    text-align: center;
    font-size: .9rem;
    letter-spacing: 1px;
}

/*NAV*/
.mobile_nav {
    display: none;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    position: absolute;
    width: 100%;
    color: white;



}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
}

.user_nav {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.home {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    text-align: center;
    padding: 2rem 1rem;
    padding-top: 5rem;
    z-index: 100;
    background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
}

.desktop_nav {
    display: flex;
    align-items: center;
}

.btns_wrapper {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

h1 {
    font-size: 3rem;
    font-weight: 900;
    color: white;
    text-shadow: 2px 2px 4px #00072d;

}

button {
    height: 2rem;
    cursor: pointer;
    border-radius: 12px 5px;
    transition: transform 0.3s ease-in-out;

}

button:hover {
    transform: scale(1.1);
}

.orange_btn {
    background-color: #1CB5E0;
    color: white;
    padding: 0 1rem;
    border: none;
    font-size: 1rem;
}

.black_btn {
    background-color: black;
    color: white;
    padding: 0 1rem;
    font-size: 1rem;
    border-radius: 10px;
    height: 2rem;


}

.black_btn:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.outline_btn {
    background-color: transparent;
    padding: auto 1rem;
    border: none;
    border-radius: 12px 5px;
    color: white;
    font-size: 1rem;
}

.transparent_btn {
    background-color: transparent;
    padding: .5rem 1rem;
    border: none;
}

.blue_btn {
    background-color: #0e6ba8;
    border: none;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    position: relative;
    bottom: 2rem;
}

/* .outline_btn:hover {
    background-color: black;
    color: white;
}
 */
.orange_gradient {
    background-image: linear-gradient(to right, #f35b04, #f7b801);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;


}

.blue_gradient {
    background-image: linear-gradient(to right, #10045c, #02199d);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

}

.grey_text {
    color: grey;
}

.bold {
    font-weight: 700;
}

.rounded {
    border-radius: 50%;

}



.main {
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    background-color: rgb(255, 255, 255);
    margin-top: 5rem;
    border-radius: 40px 10px;

}

.add-app-wrapper {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.appointments-wrapper {
    display: flex;
    width: 40%;
    height: 340px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
}

.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input,
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input,
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select {
    height: 1rem;
    padding: .8rem;
}

.empty_schedule {
    color: black;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.empty_schedule img {
    opacity: 0.2;
}

.empty_schedule p {
    position: absolute;
    top: 50%;

}

@media screen and (max-width: 640px) {
    .main {
        padding: 1rem 0;
        flex-direction: column;
        margin-top: 0;
        gap: 0rem;
        max-height: 80vh;
    }

    h1 {
        display: none;
    }

    .logo_text {
        display: none;
    }



    .btns_wrapper {
        position: fixed;
        bottom: 0;
        width: 100vw;
        left: 0;
        display: flex;
        justify-content: center;
        gap: 2rem;
        padding: 1rem;
    }

    .btns_wrapper button {
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    /*     .mobile_nav {
        display: flex;
        justify-content: flex-end;
        background-color: transparent;
        backdrop-filter: blur(20px);
        position: absolute;
        right: 0;
        top: 0;
        padding: 1rem;
        width: 100%;
    }

 */
    .mobile_nav .user_nav,
    .dropdown {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: flex-end;
    }

    .add-app-wrapper {
        width: 80%;
    }

    .logo img {
        z-index: 100;
    }

    footer {
        display: none;
    }

}